.top-bar{
    width:100%;
    overflow:hidden;
    padding-top: 60px;
    
}
.pop-button{
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap
}
.button-left{
    float:left!important;
}


.button-right{
    float:right!important;
}

.bottom-bar{
    width:97%;
    overflow:hidden;
    position: fixed;
    bottom: 100px;
}

.bottom-center{
  width:100%;
  overflow:hidden;
  position: fixed;
  bottom: 150px;
  
  
}
.display-items {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: -8%;
    top: 0;
    width: 115%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .displaybox-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 8px;
  }
  
  /* The Close Button */
  .close {
    background-color: #DADCE0;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  #ar-button {
    background-image: url(../icons/ic_view_in_ar_new_googblue_48dp.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 12px 50%;
    background-color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    bottom: 132px;
    padding: 0px 16px 0px 40px;
    font-family: Roboto Regular, Helvetica Neue, sans-serif;
    font-size: 14px;
    color:#4285f4;
    height: 36px;
    line-height: 36px;
    border-radius: 18px;
    border: 1px solid #DADCE0;
  }

  #ar-button:active {
    background-color: #E8EAED;
  }

  #ar-button:focus {
    outline: none;
  }

  #ar-button:focus-visible {
    outline: 1px solid #4285f4;
  }
  
  model-viewer > #ar-prompt {
    position: absolute;
    left: 50%;
    bottom: 175px;
    animation: elongate 2s infinite ease-in-out alternate;
    display: none;
  }

  model-viewer[ar-status="session-started"] > #ar-prompt {
    display: block;
  }

  model-viewer > #ar-prompt > img {
    animation: circle 4s linear infinite;
  }
  @keyframes circle {
    from { transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg); }
    to   { transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg); }
  }

  @keyframes elongate {
    from { transform: translateX(100px); }
    to   { transform: translateX(-100px); }
  }


  #annotation{
    background-color: #888888;
    position: absolute;
    transform: translate(10px, 10px);
    border-radius: 10px;
    padding: 10px;
  }
  /* This keeps child nodes hidden while the element loads */
  :not(:defined) > * {
    display: none;
  }
  .AnnoBTN{
    display: block;
    width: 160px;
    height: 160px;
    border: none;
    background-color: rgb(184, 184, 184);
    box-sizing: border-box;

  }

  .AnnoBTN[slot="hotspot-Back"]:not([data-visible]){
    background-color: transparent;
    border: 3px solid blue;

  }

  .backbtnicon{
    
    background-image: url(../icons/mainicons/1x/back.png);
    height: 36px;
    width: 32px;
    border: none;
    border-radius: 4px;
  }
  .starbtnicon{
    background-image: url(../icons/mainicons/1x/star.png);
    height: 36px;
    width: 32px;
    border: none;
    border-radius: 4px;
  }

  .rescanicon{
    background-image: url(../icons/mainicons/1x/reset.png);
    height: 36px;
    width: 32px;
    border: none;
    border-radius: 4px;

  }
  .viewallicon{
    background-image: url(../icons/mainicons/1x/viewall.png);
    height: 36px;
    width: 32px;
    border: none;
    border-radius: 4px;
  }
  .starbtn:hover {
    background: #ff8b38;
    background-image:url(../icons/menu.svg);
   
    text-decoration: none;
  }
  .inner-box{
  display: inline-block;
  width: 90px;
  height: 90px;
  padding: 15px;
  text-align: center;
  font-size: 10px;


  }
  .display-plants {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 67%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
     /* Fallback color background-color: rgb(0,0,0); */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .plant-box {
    display: inline-block;
    width: 60px;
    height: 40px;
    padding: 15px;
    text-align: center;
    font-size: 8px;
}

.img-width{
  width: 80px;
}


@media only screen and (min-width: 1280px){
  .displaybox-content{
    width: 26%;
  }
  .bottom-bar{
    width:98%;
  }
  .display-plants{
    padding-top: 11%;
  }
}

@media only screen and (max-width: 500px){
  .bottom-bar{
      width:93%;
  }

  .display-items {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: -18%;
    top: -57px;
    width: 137%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .display-plants {

    width:106%;
  }
 
}

@media only screen and (max-width: 1200px){
  .displaybox-content{
    width: 56%;
  }
}

  
 

  
 

